
{% block body %}

    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            {{ form_start(quackForm, {'action': path('quack_create'), 'method': 'POST'}) }}
            <div class="control">
                {{ form_widget(quackForm) }}
            </div>
            {{ form_end(quackForm) }}
        </div>
    </div>

{% endblock %}