{% extends 'base.html.twig' %}

{% block title %}Welcome to QuackNet!{% endblock %}

{% block body %}
    <style></style>
    {% include 'quack/create.html.twig' %}
    {% for quack in quacks %}
        <div class="container margin-card">

        <div class="card column is-offset-one-quarter is-half">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png"
                                 alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="has-text-weight-bold is-size-4">Donald</p>
                        <p class="subtitle is-6">@Dodo</p>
                    </div>
                </div>

                <div class="content is-size-3" style="color: orange">
                    {{ quack.content }}
                </div>
                <div class="content is-size-7">
                    <time> {{ quack.getCreatedAt()|date('d/m/Y - H:i:s') }} </time>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
{% endblock %}
