{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <div class="columns is-centered padding-menu">
        <div class="column  is-half ">
            <h1>Create new Users</h1>

            {{ include('users/_form.html.twig') }}

            <a href="{{ path('users_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
